<i
  class="burger-menu fa fa-bars"
  (click)="responsiveMenuShowing = !responsiveMenuShowing"
  [ngClass]="{'hidden': responsiveMenuShowing}">  
</i>
<i
  class="close hidden fa fa-times"
  (click)="responsiveMenuShowing = !responsiveMenuShowing"
  [ngClass]="{'show': responsiveMenuShowing}">
</i>
<aside class="navbar" [ngClass]="{'show': responsiveMenuShowing}">
  <div class="search-container bg-white">
    <input type="text" placeholder="Pesquise aqui">
  </div>
  <nav>
    <ul class="menu">
      <app-navbar-item
        *ngFor="let item of listItems"
        [icon]="item.icon"
        [text]="item.text"
      >      
      </app-navbar-item>
    </ul>
  </nav>
</aside>