.navbar {
    position: fixed;
    height: 100vh;
    background: #00233d;
    width: 270px;
    @media (max-width: 998px) {
        display: none;
        min-width: 200px;
        width: 15%;
        z-index: 1;
        &::after {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            z-index: -1;
            background: rgba(0, 0, 0, .4);
            width: 100vw;
            height: 100vh;
        }
    }
}

.hidden { display: none; }

.navbar.show, .show { display: block; }

.burger-menu, .close {
    position: absolute;
    top: 15px;    
}

.burger-menu { left: 15px; }

.close { 
    right: 15px;
    z-index: 2;
}

input {
    width: 70%;
    margin-left: 15%;
    margin-top: 38px;
    border: none;
}

.search-container {
    height: 95px;
    border-right: 1px solid #c1c1c1;
}

.menu {
    margin: 0;
}