<img 
  src="../../assets/images/menu.png" alt="Burger icon"
  class="burger-menu"
  (click)="responsiveMenuShowing = !responsiveMenuShowing"
  [ngClass]="{'hidden': responsiveMenuShowing}"
/>
<img
  src="../../assets/images/cancel.png" alt="close icon"
  class="close hidden fa fa-times"
  (click)="responsiveMenuShowing = !responsiveMenuShowing"
  [ngClass]="{'show': responsiveMenuShowing}"
/>
<aside class="navbar" [ngClass]="{'show': responsiveMenuShowing}">
  <div class="search-container bg-white">
    <input type="text" placeholder="Pesquise aqui">
    <img class="search-icon" src="../../assets/images/search.png" alt="">
  </div>
  <nav>
    <ul class="menu">
      <app-navbar-item
        *ngFor="let item of listItems"
        [icon]="item.icon"
        [text]="item.text"
      >      
      </app-navbar-item>
    </ul>
  </nav>
</aside>