$dark-blue: #00233d;
$light-blue: #589fd4;
$grey: #a6a6a6;
$padding-containers-header: 25px 15px;
$padding-containers-header-mobile: 10px 7px;
$navbar-width: 270px;

@media (min-width: 998px) {
    header, main { margin-left: $navbar-width; }
}

.logo { 
    margin: 25px 0 25px 35px;
    &__img {
        display: block;
        width: 100%;
        height: 45px;
    }
}

.grouped-view {        
    &__economic-group { margin-right: 25px; }
    &__select {
        background: transparent;
        border: 1px solid $light-blue;
        padding: $padding-containers-header;    
    }
}

.grouped-view__select, .user {
    box-sizing: border-box;
    max-height: 75px;
}

.down-icon { margin-left: 30px; }

.user {
    $notification-width: 80px;
    background: $dark-blue;
    color: #fff;
    padding: 25px ($notification-width + 25px) 25px 37px;
    @media (max-width: 1200px) {
        padding-left: 25px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        transform: translateX(-40px);
    }
    margin-right: 30px;
    margin-left: 40px;
    position: relative;
    &__icon-user { margin-right: 35px; }    
    &__down-icon  { margin-left: 45px; }
    &__notification {
        background: $light-blue;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: $notification-width;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
            display: block;
            content: "3";
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: #d01515;
            position: absolute;
            transform: translate(10px, -10px);
        }
        @media (max-width: 1200px) {
            left: 100%;
        }
    }
}

@media (min-width: 779px) {
    .container-subtitle img {
        margin-left: 40px;
    }
}


@media (max-width: 1200px) {
    .logo + .flex {
        flex-direction: column-reverse;
        align-items: center;
    }
    .user {
        margin-bottom: 20px;
    }
}

@media (max-width: 1200px) {
    .header {
        padding-bottom: 20px;
        flex-direction: column;
    }
    .logo { margin-left: 0; }
    .grouped-view {
        margin-bottom: 20px; 
    }
    .grouped-view__select , .user { padding: $padding-containers-header-mobile; }
}

.main {
    padding: 30px 28px 0 25px;    
    &__subtitle {
        font-size: 1.60rem;
        font-weight: 400;
        margin-top: 5px;
        margin-left: 40px;
        color: $dark-blue;
             
    }
}
@media (max-width: 777px) {
    .container-subtitle {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 20px;
        justify-content: center;
    }    
    .main__subtitle {
        margin-top: inherit;
    }
}   
.breadcrumb {
    width: 100%;
    margin-left: 25px;
    margin-bottom: 20px;
    font-size: 0.85rem;
    color: $grey;
    &__route { color: inherit;  }
    &__separator {
        margin-left: 20px;
        margin-right: 15px; 
    }
}

.product-filter {
    span { margin-top: 25px; }
    @media (max-width: 777px) { margin: 30px auto; }
    @media (max-width: 424px) {
        span {
            display: block;
            text-align: center;
            margin: 0 auto 20px;
        }
    }
    &__select {
        margin-left: 25px;
        background: transparent;
        border: 1px solid $light-blue;            
        padding: 25px 90px;
        padding-right: 125px;
        color: $grey;
        position: relative;
        &__down-icon {
            position: absolute;
            right: 18px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.box-container {
    width: 100%;
    margin-top: 50px;
    @media (max-width: 1105px) {
        flex-direction: column;
    }
}


.box {
    box-shadow: 0 0 20px rgb(127, 127, 127);
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    @media (max-width: 1105px) {
        &:first-of-type { margin-bottom: 20px; }
    }
    @media (min-width: 1106px) {
        &:first-of-type {
            margin-right: 1%;
            width: 59%;
        }
        &:last-of-type { width: 40%; }   
    }    
}

.box-title-container {
    padding: 40px 35px;
    border-bottom: 1px solid $grey;
}

.box-title {
    font-weight: 300;
    font-size: 1.75rem;
}

.box-subtitle {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 300;
}

.list {
    display: flex;
    flex-wrap: wrap;
    &__item {
        padding: 10px 0 15px;
        box-sizing: border-box;
        border: 1px solid $light-blue;
        text-align: center;
        margin-bottom: 13px;
        min-width: 95px;
        cursor: pointer;
        transition: all 0.205s ease-in-out;
        &:hover {
            background: $light-blue;
            color: #fff;
            transform: scale(1.005)
        }

    }
}

.box-content {
    align-items: flex-start;
    $gutter: 5%;
    height: 375px;
    @media (max-width: 430px) { height: auto; }
    &--operational { 
        width: 66.66%;
        .list__item { 
            width: 50% - $gutter / 2;
            &:nth-of-type(odd) { margin-right: $gutter }                    
        } 
    }
    &--general { 
        width: 33.33%;
        .list__item { width: 100%; }
        border-left: 1px solid $grey;
    }
    &--operational, &--general {
        padding-right: $gutter;
        padding-left: $gutter;
    }
}

.alerts {
    .box-content {
        padding: 30px 7% 0;
    }
}

.canceled-note { margin-bottom: 30px; }