<!--The content below is only a placeholder and can be replaced.-->
<div>
  <header class="header flex bg-white">
    <h1 class="header__title">
      <img src="../assets/images/logo-srm.png" alt="logo da SRM - Capital em Movimento" />
    </h1>
    <div class="flex">
      <div class="header__grouped-view">
        <span class="header__grouped-view__economic-group">Grupo Econômico:</span>
        <div name="" class="header__grouped-view__select inline-block">
          <div>Visão agregada 1</div>
        </div>
      </div>
      <div class="header__user">
        <span class="header__user__icon-user">icon</span>
        <div class="header__user__user-data inline-block">Sandra Oliveira</div>
        <div class="header__user__notification inline-block flex-center">icon</div>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="main__breadcrumb">
      <span class="main__breadcrumb__route">Página inicial</span>
      <span class="main__breadcrumb__separator">></span>
      <span class="main__breadcrumb__route">Painel de gestão</span>
    </div>
    <h2 class="main__subtitle inline-block">Painel de Gestão</h2>
    <div class="main__product-filter inline-block flex">
      Produtos:
      <div class="main__product-filter__select">
        Todos
      </div>
    </div>
  </main>
</div>

