body {
    margin: 0;
    background: #ebebeb;
}

* { font-family: 'Montserrat', 'Arial', sans-serif; }

.flex { display: flex; }

.inline-block { display: inline-block;}

.bg-white { background: #fff; }