.container { 
    padding: 12px 0;
    @media (max-width: 390px) {
        flex-direction: column
    }
}

.actions, .action {
    padding: 10px 75px 10px 60px;
    cursor: pointer;
}

.action:hover { background: #efefef; }

.actions, .action-container { border: 1px solid #589fd4; }

.actions {    
    position: relative;
    &:hover .action-container{ display: block; }
}

.action-container {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: -1px;
    background: #fff;
    z-index: 1;
}

.arrow-down {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}